HD9DOJ_0927/HD9DOJ_mozi.dtd

<!ELEMENT mozi (film)? >
<!ELEMENT film (rendezo,szinesz,iro)+ >
<!ELEMENT rendezo ANY >
<!ELEMENT szinesz ANY >
<!ELEMENT iro ANY >
<!ATTLIST film id ID #REQUIRED>
<!ATTLIST film mufaj (horror|comedy|thriller) #REQUIRED >
<!ATTLIST rendezo id ID #REQUIRED>
<!ATTLIST rendezo nev CDATA #REQUIRED >
<!ATTLIST szinesz id ID #REQUIRED>
<!ATTLIST szinesz nev CDATA #REQUIRED>
<!ATTLIST iro id ID #REQUIRED>